__pycache__/
archive/*
!archive/README.md
data/*
!data/README.md
google_drive_folders/*
!google_drive_folders/README.md
google_sheets/*
!google_sheets/README.md
logs/*
!logs/README.md
reports/*
!reports/README.md
triggers/*
!triggers/README.md
.env
.env*
*.env
!template*.env
!sheet_ids.env
service_account_credentials.json
oauth.json
mycreds.txt
snowflake_creds.json
token.json
*.p8
*.pub
*creds*.json
*/token.json
desktop.ini
sheets.googleapis.com-python.json
looker.ini
*.egg-info/
.venv
